<div>
    <h2>login</h2>
    <form #loginForm="ngForm" (ngSubmit)="login(loginForm.value.username, loginForm.value.password)">
      <div>
        <label for="username">User name:</label>
        <input type="text" id="username" name="username" ngModel required>
      </div>
      <div>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" ngModel required pattern="^\S{8,}$" title="Password must be at least 8 characters long and cannot contain spaces"
        >
        <!-- <small *ngIf="loginForm.submitted && loginForm.controls.password.value.length<=8" class="error">* לפחות 8 תווים יש להזין סיסמה</small> -->
      </div>
      <button [disabled]="loginForm.invalid" type="submit">Submit</button>
    </form>
</div>
