<body>
    <h2 style="color: #f96f6c;">Edit your Profile:</h2>
    <form [formGroup]="profileForm" (ngSubmit)="update()">
        <div>
            <label for="username">User name:</label>
            <input id="username" type="text" formControlName="username" required pattern="^[a-zA-Z0-9\s+\-\/']+$">
            <div
                *ngIf="profileForm.controls['username']?.invalid && (profileForm.controls['username'].dirty || profileForm.controls['username'].touched)">
                <span style="color: red;">Please enter valid username.</span>
            </div>
        </div>

        <div>
            <label for="fieldId">Select Field:</label>
            <select id="fieldId" formControlName="jobField" required>
                <option *ngFor="let jobField of jobFields" [value]="jobField.jobFieldId">{{ jobField.jobFieldName }}
                </option>
            </select>
        </div>

        <div>
            <label for="password">Password:</label>
            <input id="password" type="password" formControlName="password" required pattern="^\S{8,}$">
            <div
                *ngIf="profileForm.controls['password']?.invalid && (profileForm.controls['password'].dirty || profileForm.controls['password'].touched)">
                <span style="color: red;">Password must be at least 8 characters long and not contain spaces.</span>
            </div>

        </div>

        <button [disabled]="profileForm.invalid" type="submit">Update</button>
    </form>

</body>
