<main class="container col-lg-6 col-md-12 mb-4 mb-md-0 ml-2 p-5 " style="align-items: center;">
    <h2 id="title">Jobs I Applied To: </h2>
    <ul *ngIf="jobs && jobs.length > 0">
        <div *ngFor="let job of jobs" appJobCard >
            <h2>{{ job?.jobName }}</h2>
            <p><strong>Job Field:</strong> {{ getJobFieldName(job.jobFieldId)| async  }}</p>
            <p><strong>Area:</strong> {{ job?.area }}</p>
            <p><strong>Hours Scope:</strong> {{ job?.houresScope }}</p>
            <p><strong>Requirements:</strong> {{ job?.requirements?.join(', ') }}</p>
            <p><strong>Home Working:</strong> {{ job?.homeWorking ? 'Yes' : 'No' }}</p>
        </div>
    </ul>
    <div *ngIf="!jobs || jobs.length === 0" class="container">
        Oops! Looks like you haven't submitted your resume yet. Why not take a look
        at our available job listings?
    </div>
</main>