<app-header (jobFieldLinkClicked)="onJobFieldLinkClicked($event)"></app-header>

<div class="search-container">
    <div>
        <label for="fieldId">Select Field:</label>
        <select id="fieldId" [(ngModel)]="selectedFieldId">
            <option *ngFor="let jobField of jobFields" [value]="jobField.jobFieldId">{{ jobField.jobFieldName }}</option>
        </select>
    </div>
    <div>
        <label for="area">Enter Area:</label>
        <input type="text" id="area" [(ngModel)]="selectedArea">
    </div>
    <button (click)="onSearch()">Search</button>
</div>

<app-job-list [jobFieldId]="jobFieldId" [jobArea]="jobArea"></app-job-list>

<app-footer></app-footer>
