<body>
    <div class="container">
        <h2>Add New Job</h2>
        <form (ngSubmit)="onSubmit()" #addJobForm="ngForm">
            <div>
                <label for="jobName">Job Name:</label>
                <input type="text" id="jobName" name="jobName" [(ngModel)]="newJob.jobName" required>
                <div
                    *ngIf="addJobForm.controls['jobName']?.invalid && (addJobForm.controls['jobName'].dirty || addJobForm.controls['jobName'].touched)">
                    <span style="color: red;">Enter a job Name</span>
                </div>
            </div>
            <div>
                <label for="jobFieldId">Select Field:</label>
                <select id="jobFieldId" [(ngModel)]="newJob.jobFieldId" name="jobFieldId" required>
                    <option *ngFor="let jobField of jobFields" [value]="jobField.jobFieldId">{{jobField.jobFieldName}}
                    </option>
                </select>
            </div>
            <div>
                <label for="houresScope">Hours Scope:</label>
                <input type="number" id="houresScope" name="houresScope" [(ngModel)]="newJob.houresScope" required>
                <div
                    *ngIf="addJobForm.controls['houresScope']?.invalid && (addJobForm.controls['houresScope'].dirty || addJobForm.controls['houresScope'].touched)">
                    <span style="color: red;">Please enter hours scope</span>
                </div>
                <div
                    *ngIf="newJob.houresScope <= 0 && (addJobForm.controls['houresScope']?.dirty || addJobForm.controls['houresScope']?.touched)">
                    <span style="color: red;">Hours scope must be greater than 0</span>
                </div>
            </div>
            <div>
                <label for="area">Area:</label>
                <input type="text" id="area" name="area" [(ngModel)]="newJob.area" required>
                <div
                    *ngIf="addJobForm.controls['area']?.invalid && (addJobForm.controls['area'].dirty || addJobForm.controls['area'].touched)">
                    <span style="color: red;">Enter an Area</span>
                </div>
            </div>
            <div>
                <label for="requirements">Requirements:</label>
                <div *ngFor="let requirement of newJob.requirements; let i = index; trackBy: trackByFn">
                    <input type="text" name="requirement{{i}}" [(ngModel)]="newJob.requirements[i]" required>
                    <button type="button" (click)="removeRequirement(i)">x</button>
                </div>
                <button type="button" (click)="addRequirement()">+</button>
            </div>
            <div>
                <label for="homeWorking">Working from home:</label>
                <select id="homeWorking" name="homeWorking" required>
                    <option (click)="changehomeWorking()">yes</option>
                    <option (click)="changehomeWorking()">no</option>
                </select>
            </div>
            <button [disabled]="!addJobForm.valid" type="submit">Submit</button>
        </form>
    </div>
</body>

