.job-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;  
  margin: 20px;
}

.search-container {
  margin: 30px;
  margin-bottom: 80px;
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  height: 25px;

  div {
      height: 28px;
      margin: 10px;

      label {
          font-weight: bold;
          margin-right: 5px;
      }

      select {
          margin-bottom: 10px;
      }

      input {
          margin-bottom: 10px;
      }
  }

  button {
      margin: 10px;
      height: 28px;
      margin-top: 10px;
      padding: 0px 10px;
      background-color: #dc2e2e;
      color: #fff;
      border: none;
      border-radius: 5px;
      cursor: pointer;

      &:hover {
          background-color: #be2626;
      }
  }
}